/* 	Colors
	Dark blue - #354A5F
	Blue - #3497DA
	Red - #E64C3C
	Green - #2FCB70
	Yellow - #F39C11
*/

body {
	font-family: Lato, sans-serif;
	background: #354A5F;
	color: white;
}

.background {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url('../images/cityblue.jpg') no-repeat;
	background-size: cover;
	z-index: -1;
}

.sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	overflow-y: auto;
	text-align: right;
	padding: 0 50px;
	margin-right: 50px;
	background: transparent;
}

.sidebar-title {
	font-family: Caveat;
	font-weight: 700;
	font-size: 46px;
	line-height: .8em;
	padding: 50px 0;
}

.sidebar-subtitle {
	font-style: italic;
	padding-bottom: 50px;
	font-size: 1.2em;
}

.sidebar-nav {
	list-style-type: none;
	padding: 0;
	color: #3497DA;
	color: black;
}

.sidebar-nav a {
	color: inherit;
}

.sidebar-nav a:hover {
	text-decoration: none;
	color: #FFF;
}

.sidebar-nav-selected {
	font-weight: 900;
	color: #FFF;
}

/*
.sidebar-footer {
	position: absolute;
	text-align: right;
	bottom: 50px;
	right: 50px;
}*/

.content-wrapper {
	position: relative;
	margin-left: 250px;
	text-align: center;
	padding-top: 25px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: transparent;
}

.tile {
	background: white;
	margin-bottom: 25px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tile-fade {
	opacity: .3;
}

/*
.tile-img { 
	height: 15em; 
	background-size: contain; 
	background-repeat: 
	no-repeat; 
	background-position: bottom right; 
}*/

.tile-img:hover {
	cursor: pointer;
}

.tile-info {
	text-align: left;
	padding: 10px;
	background: transparent;
}

.row:nth-child(odd) .col-md-6:nth-child(1) .tile-info {
	background: #3497DA;
}

.row:nth-child(odd) .col-md-6:nth-child(2) .tile-info {
	background: #E64C3C;
}

.row:nth-child(even) .col-md-6:nth-child(1) .tile-info {
	background: #2FCB70;
}

.row:nth-child(even) .col-md-6:nth-child(2) .tile-info {
	background: #F39C11;
}

.tile-info-title {
	font-size: 1.25em;
	font-weight: 700;
}

/* Mobile-friendly styling */
@media(max-width:768px) {
	.sidebar-wrapper {
		position: relative;
		width: 100%;
		text-align: center;
	}

	.sidebar-title {
		padding: 25px 0;
	}

	.sidebar-subtitle {
		padding-bottom: 25px;
	}

	.sidebar-nav li {
		display: inline;
		padding: 0 10px;
	}

	.content-wrapper {
		margin-left: 0px;
	}

	.tile {
		margin-bottom: 30px;
	}

	.tile-fade {
		opacity: 1;
	}
}



